<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :playerA_id %><br />
    <%= f.number_field :playerA_id %>
  </div>
  <div class="field">
    <%= f.label :playerB_id %><br />
    <%= f.number_field :playerB_id %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br />
    <%= f.number_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :map_id %><br />
    <%= f.number_field :map_id %>
  </div>
  <div class="field">
    <%= f.label :match %><br />
    <%= f.text_field :match %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
