<h1>Listing games</h1>

<table>
  <tr>
    <th>Playera</th>
    <th>Playerb</th>
    <th>Winner</th>
    <th>Map</th>
    <th>Match</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.playerA_id %></td>
    <td><%= game.playerB_id %></td>
    <td><%= game.winner_id %></td>
    <td><%= game.map_id %></td>
    <td><%= game.match %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
