h1 Welcome to your team account
p This is the most awesome thing

h3 Your Team (#{current_team.id})
ul
  - for player in current_team.players
    li player




= link_to('Edit Profile', edit_team_registration_path)
