<p id="notice"><%= notice %></p>

<p>
  <b>Alias:</b>
  <%= @player.alias %>
</p>

<p>
  <b>Code:</b>
  <%= @player.code %>
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
