<p id="notice"><%= notice %></p>

<p>
  <b>Teama:</b>
  <%= @match.teamA_id %>
</p>

<p>
  <b>Teamb:</b>
  <%= @match.teamB_id %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
