doctype html
html
  head
    title SC2League
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  body
    p.notice= notice
    p.alert= alert

    - if team_signed_in?
      = link_to('Logout', destroy_team_session_path, :method => :delete)
    - else
      = link_to('Login', new_team_session_path)
    = yield
